

body{
    background: white;
}



.breadcrum{
    padding: 10px 20px;
    font-size: 20px;
    color: #555;
}

.product-display{
    min-height: 100%;
    padding: 10px 20px;
    display: flex;
}

.product-dimg {
    display: flex;
    gap: 10px;

}

.product-icon{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.product-icon img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}

.product-details{
  margin: 0 30px;
   
}

.procduct-title {
    font-size: 25px;
}

.brand-store {
    margin-top: 5px;
    color: #007185;
    font-size: 18px;
}

.product-rating {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-rating div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.product-rating p{
    font-size: 18px;
    color: #007185;
}

.product-rating p span {
    color: #fff;
    background: #c73500;
    padding: 2px 50px;
    border-radius: 3px;
    font-size: 14px;
}

.product-rating h5{
    font-weight: 400;
}

.product-price {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-price div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}

.product-price h5{
    font-size: 26px;
    color: #c73500;
}

.product-color {
    margin: 15px 0;
}

.product-color-options{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.options{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #cbcbcb;
    gap: 5px;
}

.product-info{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 300px;
    margin-bottom: 15px;
}

.product-descritions h1{
    font-size: 22px;
    margin: 15px 0;

}
.product-descritions ul{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-left: 30px;

}

.product-d-purchase{
    width: 100%;
    max-width: 300px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 20px;
}

.product-d-purchase .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-d-purchase .price{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.product-d-purchase .price h1{
    font-size: 26px;
    padding: 2px;
}